@import "tailwindcss";

@theme {
  --color-grey-light: #f7f9fa;
  --color-dark-blue: #1f2d3d;
  --color-dark-blue-border: #2b3f56;
  --color-darkest-blue: #121a24;
  --color-turquoise: #1bebb9;
  --color-turquoise-hover: #16d4a3;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
